<!DOCTYPE html>
<html lang="en">
    <head>
        <link href="../css/chat.css" rel="stylesheet" type="text/css" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Chat</title>
    </head>
    <body id="chat-screen">
        <div class="status-bar">
            <div class="status-bar__column">
                <i class="fas fa-wifi"></i>
                <!--to do wifi Icon-->
            </div>
            <div class="status-bar__column">
                <span id="time"></span>
            </div>
            <div class="status-bar__column">
                <span>100%</span>
                <i class="fas fa-battery-full fa-lg"></i>
                <i class="fas fa-bolt"></i>
                <!--battery icon-->
                <!--lighting icon-->
            </div>
        </div>
        <header class="alt-header">
            <div class="alt-header__column"><a href="chats.html"><i class="fas fa-angle-left fa-3x"></i></a></div>
            <div class="alt-header__column">
                <form th:action="@{main}" method="get" style="display:inline-block">
                    <button type="submit" class="custom-btn btn-16">
                        <span class="glyphicon glyphicon-chevron-left"></span>
                    </button>                        
                </form>
                <h1 class="alt-header__title" style="display:inline-block;text-align:center;">[[${name}]]</h1>
            </div>
            <div class="alt-header__column">
                <span><i class="fas fa-search fa-2x"></i></span>
                <span><i class="fas fa-bars fa-2x"></i></span>
            </div>
        </header>
        <main class="main-screen main-chat" th:each="all_chat_date :${all_chat_date}">
            <div style="text-align:center">
                <span class="chat__timestamp">
                    [[${all_chat_date.sliced_chat_regdate}]]
                </span>
            </div>
            <!-- receiver -->
            <span th:each="counterpart_chat_list :${counterpart_chat_list}">
                <div class="message-row" th:if="${all_chat_date.sliced_chat_regdate}==${counterpart_chat_list.sliced_chat_regdate}">
                    <img src="https://w.namu.la/s/059f8bf3e629d3f2e343fe3f3f10809022d58800962db675d233429660bf98d9ceccd60e23b1324d090c87485833b10c2c4503c93a230003ba67d5fcafa5279363109421af717958648690d0e71b46711c6c20c1d28b92d27975a3e9e56cd6a0"/>
                    <div class="message-row__content">
                        <span class="message__author">[[${name}]]</span>
                        <div class="message__info">
                            <span class="message__bubble">[[${counterpart_chat_list.chat_content}]]</span>
                            <span class="message__time">[[${counterpart_chat_list.sliced_chat_time}]]</span>
                        </div>
                    </div>
                </div>    
            </span>
            <!-- sender (로그인한 사용자) -->
            <div class="message-row message-row--own">
                <div class="message-row__content">
                    <div class="message__info" th:each="my_chat_list :${my_chat_list}">
                        <span class="message__bubble" th:if="${all_chat_date.sliced_chat_regdate}==${my_chat_list.sliced_chat_regdate}">[[${my_chat_list.chat_content}]]</span>
                        <span class="message__time" th:if="${all_chat_date.sliced_chat_regdate}==${my_chat_list.sliced_chat_regdate}">[[${my_chat_list.sliced_chat_time}]]</span>
                    </div>
                </div>
            </div>
        </main>
        <form class="reply" th:action="@{chat}" method="post">
            <div class="reply__column">
                <i class="far fa-plus-square fa-lg"></i>
            </div>
            <div class="reply__column">
                <input type="hidden" name="receiver" th:value="${name}">
                <input type="hidden" name="sender" th:value="${memberId}">
                <input type="text" name="chat_content" id="chat_content" placeholder="Write a message..."/>
                <i id="icon-push" class="far fa-grin fa-lg"></i>
                <button>
                    <i class="fas fa-arrow-up"></i>
                </button>
            </div>
        </form>
    </body>
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <!-- <script src="https://kit.fontawesome.com/a9eb1f10be.js" crossorigin="anonymous"> -->
    <script>
        const chat_content = document.getElementById('chat_content');
        // 오늘 날짜
        let date = new Date();
        // 오늘 날짜
        function getToday(){
            let year = date.getFullYear();
            let month = ("0" + (1 + date.getMonth())).slice(-2);
            let day = ("0" + date.getDate()).slice(-2);

            return year + "년 " + month + "월 " + day + "일";
        };

        function getTime() {
            let hours = date.getHours();
            let minutes = date.getMinutes();

            return hours + ":" + minutes;
        }
        $("#time").html(getTime());
    </script>
</html>