#chat-screen{
    background-color: #abc1d1;
    height:500vh;
}
#chat-screen .status-bar,
#chat-screen .alt-header{
    top: 0;
    position: fixed;
    width:100%;
    box-sizing:border-box;
    background-color: #abc1d1;
}
#chat-screen .status-bar{
    z-index: 2;
}
#chat-screen .alt-header{
    top:10px;
    z-index: 1;
}
@keyframes fadeIn{
    from{
        transform: translateY(1px);
        opacity: 0;
    }
    to{
        transform: none;
        opacity:1;
    }
}
.main-chat{
    margin-top: 45px;
    /* padding-top: 50px; */
    display: flex;
    flex-direction:column;
    animation: fadeIn 0.8s linear;
}
#gongji {
    padding-left: 5px;
    position:fixed;
    margin-left: 4px;
    top: 63px;
    width: 99%;
    border-radius:1px;
    z-index: 1;
}
.chat__timestamp{
    color:white;
    background-color: #92a4b2;
    text-align: center;
    padding:10px;
    font-size: 14px;
    border-radius: 16px;
    margin-top: 15px;
    /* margin-bottom: 15px; */
}
.message-row{
    width: 100%;
    display: flex;
    margin-bottom: 7px;
}
.message-row img{
    width: 50px;
    height:50px;
    border-radius: 50%;
    margin-right: 10px;
}
.message__author{
    margin-bottom: 5px;
    display: block;
}
.message__info{
    display: flex;
    align-items: flex-end;
}
.message__bubble{
    background-color: white;
    padding:13px;
    font-size: 18px;
    border-radius: 15px;
    border-top-left-radius:0px ;
    margin-right: 5px;
    margin-bottom: 5px;
}
.message__time,
.message__author{
    opacity: 0.8;
    font-size: 14px;
    margin-bottom: 8px;
}
.message-row--own{
    justify-content: flex-end;
}
.message-row--own .message__bubble{
    background-color:var(--yellow);
    border-top-right-radius: 0px;
    border-top-left-radius: 15px;
    margin-left: 5px;
}
.message-row--own .message__info{
    flex-direction: row-reverse;
}
.reply{
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: white;
    display: flex;
    justify-content: space-between;
    padding:5px 25px;
    align-items: center;
    box-sizing: border-box;
    transition: all 0.3s ease-in-out;
}
.reply .reply__column:first-child{
    width: 10%;
}
.reply .reply__column:last-child{
    width: 90%;
    position: relative;
}
.reply i{
    opacity:0.5;
}
.reply input{
    padding: 12px;
    width: 95%;
    border:var(--main-border);
    border-radius: 20px;
    transition: all 0.3s ease-in-out;
}
.reply__column:last-child > i,
.reply__column:last-child button{
    position: absolute;
    right: -1px;
    top:7px;
}
.reply__column:last-child > i{
    right: 40px;
    top:15px;
}
.reply__column button{
    background-color: var(--yellow);
    border: none;
    width: 30px;
    height:30px;
    border-radius: 50%;
}
.reply__column button:focus,
.reply__column button:active{
    outline: none;
}
.reply__column button i{
    opacity: 1;
}
.reply .reply__column:first-child,
.reply #icon-push,
.reply button{
    transition: opacity 0.5s ease-in-out;
}
.reply:focus-within .reply__column:first-child,
.reply:focus-within #icon-push,
.reply:focus-within button{
    opacity:0;
}
.reply:focus-within input {
    border: none;
    outline:none;
    width: 87vw;
    transform: translateX(-12%) translateY(-80px);
}
.status-bar{
    display: flex;
    justify-content: center;
    padding: 5px 3px;
}
.status-bar__column{
    position: fixed;
    top:0;
    width:100%;
    box-sizing:border-box;
}
.status-bar__column:first-child span{
    margin-right:5px;
}
.status-bar__column:nth-child(2){
    display: flex;
    justify-content: center;
}
.status-bar__column:last-child{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.status-bar__column .fa-battery-full{
    margin:0px 5px;
}
body{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color:#2e363e;
}
#chats {
    padding:50px var(--horizontal-space);
}
.main-screen{
    margin-top: 20px;
    padding:0px var(--horizontal-space);
}
:root{
    --yellow:#fae100;
    --horizontal-space:25px;
    --main-border:1px solid rgba(0, 0, 0, 0.3);
}
.alt-header__title {
    font-size:20px;
}

.btn-16 {
    border: none;
    color: #000;
    background-color: #abc1d1;
    margin-left: 10px;
}
/* .tooltip { */
    /* position: relative; */
    /* display: inline-block; */
/* } */

/* .tooltip .tooltiptext { */
    /* visibility: hidden; */
    /* 이벤트가 없으면 툴팁 영역을 숨김 */
    /* width: 120px; */
    /* 툴팁 영역의 넓이를 설정 */
    /* background-color: black; */
    /* color: #fff; */
    /* text-align: center; */
    /* border-radius: 6px; */
    /* padding: 5px 0; */
    /* position: absolute; */
    /* 절대 위치를 사용 */
    /* z-index: 1; */
    /* transition: opacity 0.3s; */
/* } */

/* .tooltip:hover .tooltiptext { */
    /* visibility: visible; */
    /* hover 이벤트 발생시 영역을 보여줌 */
    /* opacity: 1; */
/* } */
/* .tooltip .tooltiptext::after { */
    /* content: " "; */
    /* 정사각형 영역 사용 */
    /* position: absolute; */
    /* 절대 위치 사용 */
    /* border-style: solid; */
    /* border-width: 5px; */
    /* 테두리 넓이를 5px 로 설정 */
    /* top: 100%;
    left: 50%;
    margin-left: -5px;
    border-color: #555 transparent transparent transparent;
  } */
  /* .tooltip .tooltip-left { */
    /* top: -5px; */
    /* 영역의 위치를 -5 만큼 위로 이동 */
    /* right: 105%; */
    /* 왼쪽에 생성해야하므로 영역을 오른쪽에서 105% 이동 */
  /* } */

  /* .tooltip .tooltip-left::after { */
    /* top: 50%; */
    /* 사각형 영역이 중앙에 오도록 위치 */
    /* left: 100%; */
    /* 왼쪽에서 100% 위치에 오도록 위치 */
    /* margin-top: -5px; */

    /* 사각형의 테두리에서 왼쪽만 노출 */
    /* border-color: transparent transparent transparent black; */

  /* }   */